<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/foundation/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="row">
        <div class="medium-12 columns">
            <img  src="~/Content/imagenes/cintilla.png" />
        </div>
    </div>
    <div class="row">
        <div class="medium-5 columns">
            <img src="~/Content/imagenes/CITCO%201.png" />
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <div class=" contain-to-grid sticky">
                <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
                    <ul class="title-area">
                        <!-- Title Area -->
                        <li class="name">
                            <h1><a href="#">Cinotam</a></h1>
                        </li>
                        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                    </ul>



                    <section class="top-bar-section">
                        <!-- Left Nav Section -->
                        <ul class="left">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">¿Quienes Somos?</a></li>
                            <li><a href="#">Servicios</a></li>
                            <li><a href="#">Sala de Prensa</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                        <!-- Right Nav Section -->
                        <ul class="right">
                            <li class="divider hide-for-small"></li>
                            @{Html.RenderPartial("_LoginPartial");}
                        </ul>
                    </section>
                </nav>
            </div>
            
        </div>
    </div>
    
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/foundation")
    <script>
        $(document).foundation();
    </script>
    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)
</body>
</html>